
/* 

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.grid {
    display: grid;
    row-gap: 9.4rem;
    column-gap: 6.2rem;
}

.grid--2--cols {
    grid-template-columns: 1fr 1fr;
}

.grid--3--cols {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid--4--cols {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}









strong {
    font-weight: 500;
}

.margin-right-btn {
    margin-right: 1rem;
}