
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #333;
}




/* Header */

.header {
    display: flex;
    justify-content: space-between;
  background-color: #b854d1;
  align-items: center;
  height: 9.6rem;
  padding: 0 14rem;
  font-weight: 700;
}

.header-items {
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.header-a:link, .header-a:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.header-a:hover, .header-a:active {
    color: #e6e6e6;
}

.header-special:link, .header-special:visited {
    background-color: #4dabf7;
    padding: 0.8rem 1.6rem;
    border-radius: 9px;
    text-decoration: none;
    color: #ffffff;
    border: none;
}

.header-special:hover, .header-special:active {
    background-color: #459ade;
}

.logo {
   height: 8rem;
}



/* Section Hero */

.section-hero {
    background-color: #b854d1;
    padding: 4.8rem 0 9rem 0;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 140rem;
    margin: 0 auto;
    align-items: center;
    gap: 9rem;
    padding: 0 3rem;
}

.hero-p {
    font-size: 2rem;
    margin-bottom: 5rem;
    line-height: 1.5;
    max-width: 65rem;
    color: #ffffff;
    font-weight: 400;
}

.btn:link, .btn:visited {
    margin-bottom: 8rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1.6rem 3.2rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn-full:link, .btn-full:visited {
    background-color: #4dabf7;
    color: #fff;
}

.btn-full:hover, .btn-full:active {
    background-color: #459ade;
}

.btn-outline:link, .btn-outline:visited {
    background-color: #ffffff;
    color: #333;
}

.btn-outline:hover, .btn-outline:active {
    background-color: #cc5de8;
    box-shadow: 0 0 0 2px #ffffff;
}



.company-logos-list {
    display: flex;
    list-style: none;
    gap: 3rem;
    
}

.svg {
    color: white;
    height: 2rem;
    width: 2rem;
    transition: all 0.3s;
}

.svg:hover {
    transform: translateY(-1rem);
    color: #4dabf7;
}

.hero-img-box {
    align-self: start;
    overflow: hidden;
}

.hero-img, .agency-img {
    width: 100%;
    transition: all 0.3s;
}

.hero-img:hover {
    transform: scale(1.1);
}

/* Service */

.service {
    padding: 9.6rem 5rem;
    margin: 0 auto;
    align-items: center;
    grid-template-columns: 55fr 45fr;
    background-color: #f5f7f8;
}

.service-text {
    border: none;
    border-radius: 9px;
    padding: 1.6rem 3.2rem;
}

.service-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 8rem;
}

.service-p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.service-a {
    text-decoration: none;
    font-size: 2rem;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 9px;
    display: inline-block;
    color: #ffffff;
}

.service-a:link, .service-a:visited {
    background-color: #b854d1;
}

.service-a:hover, .service-a:active {
    box-shadow: 0 0 0 2px currentColor;
    color: #b854d1;
    background-color: #ffffff;
}


.card {
   width: 30rem;
    text-align: center;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
    padding: 3rem 4rem;
    border-radius: 8px;
    background-color: #ffffff;
    transition: all 0.4s;
}

.card:hover {
    background-color: #229cffc0;
    color: white;
    transform: translateY(-1rem);
}


.span-card {
    font-size: 2rem;
    margin-bottom: 2rem;
    display: block;
    font-weight: 500;
}




.p-card {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;

}

.svg-card {
    margin-bottom: 2rem;
    
}

.service-icon {
    height: 3rem;
    width: 3rem;
    background-color: #b854d1;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 50%;
    color: #ffffff;
}

.agency-container {
    padding: 9rem 4rem;
    display: grid;
    row-gap: 9.4rem;
    column-gap: 6.2rem;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: #f5f7f8;
}

.agency-img-box {
    overflow: hidden;
}

.agency-img:hover {
    transform: scale(1.1);
}

/* TEAM */


.section-team {
    padding: 9.6rem 0;
    background-color: #f5f7f8;
}


.section-head {
    font-size: 3.6rem;
    margin-bottom: 2rem;
    line-height: 1.3;
}

.team-container {
    padding: 9.6rem 0;
}

.team-text {
    margin-bottom: 9.6rem;
    font-size: 1.6rem;
}

.team-pic {
    width: 12.4rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}



.team-card {
    box-shadow: 0 1.2rem 2.8rem 0 rgba(0, 0, 0, 0.4);
    padding: 4.5rem;
    text-align: center;
    transition: all 0.3s;
    overflow: hidden;
    border-radius: 5px;
    background-color: #229cffc0;
    color: #f5f7f8;
    font-weight: 600;
}

.team-card:hover {
    transform: translateY(-1rem);
    box-shadow: 0 2.4rem 4.6rem 0 rgba(0, 0, 0, 0.5);
    background-color: #f5f7f8;
    color: #333;
    font-weight: 600;
}

.team-name {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.team-job {
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 500;
}

/* Testimonial */

.section-testimonials {
    background-color:  #f5f7f8;
    padding: 9rem 0;
}

.section-testimonial {
padding: 9.6rem 0;
}

.section-container {
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 3rem;
    
}


.testimonial-card {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.498);
    padding: 3.2rem;
    margin-bottom: 3rem;
    border-radius: 3px;
    background-color: #ffffff;
}


.testimonial-customer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.testimonial-face {
    width: 7rem;
    border-radius: 50%;
}

.testimonial-p {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #4dabf7;
    font-weight: 700;
}

.section-subhead {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #b854d1;
}

/* aside */

aside {
    background-color: #e6e6e6;
    padding: 7.6rem 0;
   
}

.aside-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  background-color: #4dabf7;
  align-items: center;
  padding: 4rem 0;
}

.news {
    font-size: 3rem;
}

.aside-news {
    grid-column: 2/3;
    width: 700px;
}

.aside-container input {
    border: none;
    background-color: none;
    padding: 1.5rem 3rem;
    border-radius: 5px;
}